body {
    /* background-color: rgb(207, 156, 188); */
    background-image: url(assets/background-flowers.jpg);
    font-family:'League Spartan', sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(assets/background-feathers.jpg);
}

a {
    text-decoration: none;
    color: black;
}

.nav-head:hover {
    color: rgb(35, 199, 35);
}

ul {
    list-style-type: none;
}

.nav-head {
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    position: sticky;
}

li {
    display: inline-block;
    padding-right: 10px;
}

/* I need to fix this and the nav -changed*/
/* main {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #a8697a;
} */

#woman-img {
    /* width: 50%; */
    /* height: 90%; */
    display: block;
    max-width: 50%;
    /* max-height: 50%; */
    border-radius: 50%;
    /* min-height: 100vh; */
    /* object-fit: fill; */

}


aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(assets/background-petals.jpg);
    /* background-color: #dfaad4; */
    min-height: 100vh;
}

.intro {
    padding: 0 100px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

h2 {
    font-size: 3em;
    padding-top: 30px;
    padding-left: 10px;
}

h1 {
    font-size: 4em;
    text-indent: 10px;
    padding-left: 90px;
    text-align-last: center;
    margin-top: 2px;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.1em;
    padding-left: 80px;
    padding-right: 20px;
    margin-top: 10px;
    text-align: center
}

.comps {
    /* display: flex;
    flex-direction: row; */
    padding: 10px 100px 2px 100px;
    margin-top: 80px;
}

.comps ul li a:hover {
    background-color: rgba(55, 25, 25, 0.492);
}

.comps-link {
    color: rgb(7, 5, 7);
    font-size: 2em;
    font-weight: bolder; 
    margin-right: 40px;
}

footer {
    background-image: url(assets/background-feathers.jpg);
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

a img{
    width: 30px;
}

.copyright {
    padding-top: 10px;
}

.socmed {
    margin-right: 10px;
}

/* responsive styling for index-html */

/* @media (max-width: 40px) {
    h1, h2, p { font-size: 10px;}
} */
/* @media (min-height: 50px) {
.intro {font-size: 10px; }
}

img {
    max-width: 100%;
    height: auto;
} */

/* about-html main styling */

.about-main {
    display: flex;
    flex-direction: row;
}

/* .top{
    width: 33%;
}

.bottom-left {
    width: 33%;
}

.bottom-right {
    width: 33%;
} */

/* .fam-pix {
    position: relative;
    filter: drop-shadow(0 0 10px);
    perspective: 100px;
} */


/* contact-page styling*/

.c-input {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .cust-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 10px 20px;
} */

.p-info {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 20px;
}
.proj-box {

    width: 200px;
    height: 50px;
}

.sub-btn {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.cont-p {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    font-family: 'Libre Baskerville', serif; 
    padding-bottom: 16em;
}

    /* About page carousel styling  */

.fampix {
    box-sizing: border-box;
    position: relative;
    }
img {
    vertical-align: middle;
}
    /* Position the image container (needed to position the left and right arrows)- see above */
.picSlides {
    display: none;
}
/* add a pointer when hovering over the thumbnail images */
.cursor{
    cursor: pointer;
}

/* next and previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
/* position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Number text 1/3 etc */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* container for image text */
.caption-fampix {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
/* 3 columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add transparency effect for thumbnail images */
.demo {
    opacity: 0.6;
}

.active, .demo:hover {
    opacity: 1;
}